.navbar-container {
    display: block;
    float: right;
    padding-right: 20px;

    .icon {
        float: right;
        padding-right: 10px;
    }

    .navbar-text {
        font-size: 20px;
    }

    .navbar-combobox {
        font-size: 20px;
    }
}