.backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
    opacity: 0.3;
}

.overlay{
    position: fixed;
    border-radius: 7px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    // transition: 1s ease;
    animation: ease-to-top ease 0.4s forwards;
    border: 1px solid #666;
    box-shadow: #333 0px 0px 5px;
    background-color: #eee;
    z-index: 2;
}

@keyframes ease-to-top {
    0%{
      top: 70%;
      opacity: 0.5;
    }
    100%{
        top: 45%;
    }
}